body {
    background-color: #f5c918;
}


/*Header Logo*/

#logo img {
    display: block;
    margin: 0 auto;
    width: 25%
}


/*Header Tile*/

#logo h3 {
    color: red;
    text-align: center;
}


/*Uneaten Burger*/

.whole {
    padding: 10px;
    border-radius: 5%;
    background-color: lightgray;
    margin-bottom: 20px;
    box-shadow: -5px -3px 10px darkgray;
    width: 350px;
}


/*Devoured Burger*/

.devoured {
    padding: 10px;
    border-radius: 5%;
    background-color: lightgray;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    color: gray;
    width: 350px;
}


/*Submit Button*/

#submit-btn {
    display: block;
    margin: 0 auto;
}